<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <form name="ghForm" ng-submit="gitHubRepos()" novalidate>
        <div class="control-group" ng-class="{error: ghForm.keyword.$invalid}">
          <label>Keyword</label>
          <input type="text" name="keyword" ng-model="keyword" required ng-minlength="3" autofocus>
        </div>
        <div class="control-group" ng-class="{error: ghForm.language.$invalid}">
          <label>language</label>
          <input name="language" ng-model="language" required ng-minlength="2">
        </div>
        <div>
          <button type="submit" class="btn btn-primary" ng-disabled="ghForm.$invalid">Search</button>
        </div>
      </form>
    </div>
    <div class="span9">
      <ul>
        <li>TODO</li>
      </ul>
    </div>
  </div>
</div>
